__pycache__
*.env
*.venv
email_service/EmailService/appsettings.Development.json
email_service/EmailService/Properties/launchSettings.json
document_service/DocumentService/appsettings.Development.json
