.vs/
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
appsettings.Development.json
appsettings.Local.json
appsettings.Test.json
.nuget/
packages/
Thumbs.db
Desktop.ini
